.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-text{
    display: inline;
    margin: 0;
    border: none;
    border-radius: 0.4rem;
    padding: 10px;
}

.container {
    color:#fff;
    max-width: 500px;
    margin: auto;
}

.list ul li{
    color: #000000;
    background-color: #ffffff;
    line-height: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
    padding: 10px;
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
}

ul {
    margin:0px;
    padding: 0px;
}
.app-title{
    text-align: center;
    color: #7B8788;
    font-size: 60px;
}

.add-btn{
    color: #fff !important;
    text-transform:uppercase;
    text-decoration: none;
    background: #7313cb;
    margin: 20px;
    padding: 10px;
    border-radius: 0.4rem;
    display: inline-block;
    border: none;
}

.list ul li button {
    position: absolute;
    right: 0%;
    background: #f34541;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 0.4rem;
    display: inline-block;
    border: none;
    
}
